.container
{
 background-image: url(Purple.avif);
 height:850px;
 width:600px;
 margin: 30px;
 padding:20px;
 border-radius: 10px;
 border:3px solid;
}
hr{
    border:1px solid;
    color: rgb(174, 79, 215);
}
.highlight
{
background-color: rgb(244, 150, 233);
}
.content
{
    padding: 15px;
}
p 
{
    color:rgb(119, 28, 60)
}
.quotes
{
margin-top: 20px;
margin-left: 1px;
padding: 10px;
padding-left: 10px;
border-left: 5px solid rgb(98, 6, 107);
display: flex;
background-color: rgb(237, 159, 226);
}
.item
{
display: flex; 
margin-top: 20px;
border-left: 5px solid rgb(140, 5, 152);
background-color: rgb(119, 192, 231);
padding: 10px;
}
.item img
{
    width:95px;
    height:95px;
}
.words
{
    padding-left: 20px;
    
}
.author h3
{
    color: rgb(13, 51, 110);
    padding-left: 20px;   
}
.footer
{
    margin-top: 112px;
    display: flex;
    background-color: rgb(71, 20, 97);
    color:white;
    padding:0px;
    justify-content: space-between;
    border-radius: 0px;
    text-align: left;
}    
.PUBLISHERS
{
    color: rgb(238, 237, 234);
    text-align: left;
}
.price
{
    color: rgb(238, 234, 224);
}
h2
{
    color:rgb(26, 6, 63)
}
